
body {
  margin: 0 !important;
  padding: 0 !important;
  background-color: rgb(255, 255, 255) !important;
  font-family: 'Outfit', sans-serif;
  
}

.navbar {
  transition: background-color 0.3s ease !important;
}



.backgroundColor {
  background-color:  rgb(5, 157, 204)!important;
}

p{
  color: rgba(22, 22, 22, 0.699) !important;
}

.navbar{
  z-index: 99999 !important;
}


#home {
  background-image: url('./bg.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh; 
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: rgb(0, 0, 0);
}
.hometxt{
  z-index: 1 !important;
  padding-top: 2rem !important;
}
.hometxt p{
  color: rgba(255, 255, 255, 0.753) !important;
}
.hometxt h1{
  font-size: 4.5rem !important;
  padding-bottom: 1rem !important;
}
.hometxt p{
  padding-bottom: 1.5rem !important;
}
.custom-button {
  margin-top: 20px;
}

#about {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh; /* Adjust as needed */
  
}




.abouttxt{
  z-index: 2 !important;
 
}
.abouttxt h3{
  font-size: 3rem !important;
  
}


@media(max-width: 991px){
  .sidebar{
    background-color: rgba(255, 255, 255, 0.062) !important;
    backdrop-filter: blur(10px);
  }
 
  #about {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100% !important;
    padding-bottom: 2rem !important;
  }
  
  .abouttxt {
    text-align: center;
    padding-top: 2rem !important;
 
  }

  .abouttxt h3{
    padding-top: 2rem !important;
    padding-bottom: 0.5rem !important;
    font-size: 3rem !important;
    
  }
}

